.hibauzenet{
    color: red;
    font-size:0.7em ;
    margin-left: 50%;
    font-weight: bold;
}
body{
    background-image: url("pexels-monstera-5635098.jpg");
    background-size: cover;
    background-position: center;
}
.card{
    background-color: rgba(211, 211, 211, 0.9);
    margin-right: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.jumBa{
    background-color: rgba(211, 211, 211, 0.9);
}
.hatter{
    background-color: rgba(211, 211, 211, 0.9);
    background-position: center;
    margin-bottom: 1em;
}
